:root {
    --surface-white: #FFFFFF;
    --surface-light: #f7f7f7;
    --background: #EDEDED;
    --mid-gray: #BDBDBD;
    --dark-gray: #666666;
    --text: #333333;
    --soft-yellow: #FFFDE7;
    --primary-yellow: #F0F036;
    --dark-yellow: #C8C800;
}